* {margin: 0; padding: 0;}

#table {
    border-collapse: collapse;
    margin-top: 10px;
}

.cell {
    width: 30vw;
    height: 30vh;
    border: 2px solid black;
    font-size: 3rem;
}

#clear {
    width: 90vw;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 2rem;
    background-color: tan;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}