#table {
    border-collapse: collapse;
}

.cell {
    width: 33vw;
    height: 33vh;
    border: 2px, solid, black;
}

#clear {
    width: 100vw;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 2rem;
}