* {margin: 0; padding: 0;}

#table {
    border-collapse: collapse;
    margin-top: 10px;
}

.cell {
    width: 25vw;
    height: 25vw;
    font-size: 5vw;
}

#table, .cell, tr, th {
    border: 2px solid black;
    border-collapse: collapse;
}

#clear {
    width: 90vw;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 2rem;
    background-color: tan;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}